{% block content %}
    {% if session.error %}
        <h3 class="text-white d-flex justify-content-center h1"><b>{{ session.error }}</b></h3>
    {% endif %}
    <div class="button-addPlay">
        {% if session.user %}
            <button type="button" class="btn-grad btn-primary" data-toggle="modal" data-target="#add_data_Modal" >Ajouter un morçeau à la playlist</button>
        {% else %}
            <a href="/User/connect" class="btn-grad btn-primary" role="button">Ajouter un morçeau à la playlist</a>
        {% endif %}
    </div>
    <div class="modal fade" id="add_data_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal1-title1" id="exampleModalLabel">Ajoute ta musique</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {% include 'Home/add.html.twig' %}

            </div>
        </div>
    </div>

    <div class="dayPlaylistTitle text-white">
        {% if playlist.date %}
        <h1 class="h1">Playlist du {{ playlist.date|date("d-m-Y") }}</h1>

        {% endif %}
    </div>
            <div class="row m-6 container-card">
                {% for track in tracks %}

                    <div class="col-lg-4 col-md-6 card-play mx-auto">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-5 box vidBx">
                            <div class="content">
                                <iframe class="embed-responsive-item z-depth-5" style="height: 101%" id="video" src="https://www.youtube.com/embed/{{ track.url }}?enablejsapi=1&html5=1.?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="box contentBx">
                            <div class="content">

                                <div class="title-card" >{{ track.title }} - {{ track.artist }}
                                <a style="text-decoration: none" href="/User/showAllTracksByProfil/{{ track.id_pseudo }}"><h6 class="mt-2 mb-5 text-muted">Postée par <B>{{ track.pseudo }}</B></h6></a>
                                </div>
                                <div class="like-dislike-alignement">
                                <div>
                                    <form class ="flex" action="/track/addlike/{{ track.id }}" method="POST">
                                        {% if track.id in session.like %}
                                        <i id="heart" class="fas fa-heart fa-lg mr-2" ></i>{{ track.nblike }}
                                        {% else %}
                                        {% if session %}
                                        <i id="heart" class="far fa-heart fa-lg mr-2" data-nblike="{{ track.nblike }}" data-trackid="{{ track.id }}" ></i>
                                        {% elseif track.nblike == 0 %}
                                            <p></p>
                                        {% else  %}
                                            <i id="heart" class="fas fa-heart fa-lg mr-2" ></i>
                                        {% endif %}
                                        <div id="likecounter-{{ track.id }}">

                                                {% if track.nblike == 0 %}
                                                    <p></p>
                                                {% else %}
                                                    {{ track.nblike }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                                    <div class="overlay">
                                        {% if session.user.is_admin == '1'  %}
                                            <form action="track/delete" method="post">
                                                <input type="hidden" name="delete_id" value="{{ track.id }}">
                                                <button type="submit" name="delete_btn" class="btn btn" style="color: #D40086"> <i class="fas fa-trash-alt fa-lg"></i></button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}

                        <h1 class="text-white">Il n'y a pas encore de playlist, sois le premier à ajouter un morceau !</h1>
                {% endfor %}
            </div>
        </div>
{% endblock %}

