{% extends 'layout.html.twig' %}

{% block content %}

    <div class="dayPlaylistTitle text-white"><h1>Playlist du {{ playlist.date }}</h1></div>

        <div class="small_container">

            <div class="container-card">
                {% for track in tracks %}
                    <div class="card">
                        <div class="vidBx" data-text={{ track.artist }}>
                            <iframe id="video" src="https://www.youtube.com/embed/{{ track.url }}?enablejsapi=1&html5=1.?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="content">
                            <div>

                                <div class="title-card">{{ track.title }} - {{ track.artist }}</div>
                                <!-- TODO Taf de Audrey front -->

                                <div class="like-dislike-alignement">
                                <div>
                                    <form class ="flex" action="/track/addlike/{{ track.id }}" method="POST">
                                        <i id="heart" class="far fa-heart fa-lg mr-2" data-nblike="{{ track.nblike }}" data-trackid="{{ track.id }}" ></i>
                                            <div id="likecounter-{{ track.id }}">

                                                {% if track.nblike == 0 %}
                                                    <p></p>
                                                {% else %}
                                                    {{ track.nblike }}
                                                {% endif %}


                                            </div>
                                    </form>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <h1 class="text-white">Il n'y a pas encore de playlist, sois le premier à ajouter un morceau !</h1>
                        <a href="/track/add"><button class="btn btn-warning" >Ajouter une musique</button></a>
                {% endfor %}
            </div>
        </div>




{% endblock %}