{% extends 'layout.html.twig' %}

{% block content %}
    <?php session_start() ?>
    <h2>Inscris-toi gratuitement</h2>
    <h4>afin de poster ta chanson quotidienne</h4>
    <form action="/user/add" method="post">
        <div class="container-sm">
            <div class="row">
                <div class="col-md-6">
                    <label for="pseudo" class="mt-5 {{ errors.pseudo ? 'is-invalid' : '' }} ">Ton pseudo</label><br>
                    <input class="w-100" type="text" value="{{ user.pseudo ?? userData.pseudo }}" name="pseudo" id="pseudo" placeholder="Shakira">
                    {% if errors.pseudo %}
                    <div class="invalid-feedback">
                        {{ errors.pseudo }}
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label for="password" class="mt-5 {{ errors.password ? 'is-invalid' : '' }} ">Ton mot de passe</label><br>
                    <input class="w-100" type="password" value="{{ user.password }}" name="password" id="password" placeholder="*****" >
                    {% if errors.password %}
                        <div class="invalid-feedback">
                            {{ errors.password }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <label for="email" class="mt-5 {{ errors.email ? 'is-invalid' : '' }} ">ici ton adresse email</label><br>
                    <input class="w-100" type="email" value="{{ user.email ?? userData.email }}" name="email" id="email" placeholder="Shakira@yahoo.com" >
                    {% if errors.email %}
                        <div class="invalid-feedback">
                            {{ errors.email }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <button class="btn-grad mx-auto" type="submit">Ajouter</button>
        </div>
        </div>
    </form>
{% endblock %}